.settings-dialog {
  & .fd-popover {
    width: 100%;
    position: relative;
  }
  & .fd-form-label {
    margin: 0.25rem 0;
  }
  & .fd-form-group {
    margin-bottom: 0.5rem;
  }
  & .fd-form-group + .fd-form-group {
    margin-top: 0.5rem;
  }
}
