.section {
  & .app-page-header {
    & .fd-icon-tab-bar {
      pointer-events: all;
    }
  }
  & .section-content {
    & .section-title {
      margin: 1rem 0;
    }
    & .fd-panel__content {
      border-bottom: none;
    }
    & .fd-object-list__item {
      border: 1px solid grey;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      margin: 1rem 0;
    }
  }
}